<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>后台管理系统</title>
		<link href="/images/index.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="/images/css.css">
		<link rel="stylesheet" href="/images/boot.css">
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
		<style type="text/css">
			.layui-table th{text-align: center;font-weight: bold;}
			.layui-table td{text-align: center;}
		</style>
	</head>
	<body>
				
		<div class="note">
			<h4><a href="#" style="background:#75bdb6;padding:5px;border:none;color:#fff" id="dialog">添加餐厅</a></h4>
			<table class="news_list layui-table" style="width: 96%; margin: 12px auto;">
				<thead>
					<tr>
						<th>ID</th>
						<th>餐厅名称</th>
						<th>开始营业时间</th>
						<th>结束营业时间</th>
						<th>排序</th>
						<th>状态</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name='row' id='r'}
					<tr>
						<td>{$r.id}</td>
						<td>{$r.name}</td>
						<td>{$r.business_hours_start}</td>
						<td>{$r.business_hours_end}</td>
						<td>{$r.sort}</td>
						<td><?php if($r['state']==0){echo "<span style='color:#00FF6F'>营业中</span>";}else{echo "<span style='color:red'>停止营业</span>";} ?></td>
						<td>{$r.start_time|date="Y-m-d H:i:s",###}</td>
						<td>
							<a href="#" class="layui-btn layui-btn-sm layui-btn-primary img_edit">修改</a>
							<a href="{:url('Order/restaurant_food','id='.$r.id)}" class="layui-btn layui-btn-sm">分配菜品</a>
							<a href="#" class="layui-btn layui-btn-sm layui-btn-normal food_sort">查看菜品</a>
							<a href="{:url('Order/restaurant_state','id='.$r.id)}" ><?php if($r['state']=='0'){echo "<span class='layui-btn layui-btn-sm layui-btn-warm'>停止营业</span>";}else{echo "<span class='layui-btn layui-btn-sm'>营业</span>";} ?></a>
							<a href="{:url('Order/restaurant_del','id='.$r.id)}" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>
		<!--添加-->
		<div class="model">
			<div class="head">
				<span>添加餐厅</span>
				<a href="javascript:" class="close">×</a>
			</div>
			<div class="content">
				<form action="{:url('Order/restaurant_add')}" method="post" enctype="multipart/form-data">
					<div class="wrap">
						<label>餐厅名称</label>
						<input type="text" name="name" value=""/>
					</div>
					<div class="wrap">
						<label>开始营业</label>
						<div class="layui-input-inline">
							<input type="text" name="business_hours_start" class="layui-input" id="time1" placeholder="HH:mm:ss">
						</div>
						<label>结束营业</label>
						<div class="layui-input-inline">
							<input type="text" name="business_hours_end" class="layui-input" id="time2" placeholder="HH:mm:ss">
						</div>
					</div>
					<div class="wrap">
						<label>排序</label>
						<input type="text" name="sort" value="5"/>
					</div>
					<div class="wrap">
						<label>状态</label>
						<input type="radio" name="state" value="0" checked>营业中
						<input type="radio" name="state" value="1">停止营业
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<!--修改-->
		<div class="model_edit">
			<div class="head">
				<span>添加餐厅</span>
				<a href="javascript:" class="close_edit">×</a>
			</div>
			<div class="content">
				<form action="{:url('Order/restaurant_update')}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id" id="id">
					<div class="wrap">
						<label>餐厅名称</label>
						<input type="text" id="name" name="name" value=""/>
					</div>
					<div class="wrap">
						<label>开始营业</label>
						<div class="layui-input-inline">
							<input type="text" name="business_hours_start" class="layui-input" id="business_hours_start" placeholder="HH:mm">
						</div>
						<label>结束营业</label>
						<div class="layui-input-inline">
							<input type="text" name="business_hours_end" class="layui-input" id="business_hours_end" placeholder="HH:mm">
						</div>
					</div>
					<div class="wrap">
						<label>排序</label>
						<input type="text" id="sort" name="sort" value=""/>
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<!--菜品回显-->
		<div class="food_sort_up">
			<div class="head">
				<span>餐厅菜品</span>
				<a href="javascript:" class="food_sort_up_edit">×</a>
			</div>
			<div class="content">
				<form action="{:url('Order/restaurant_update')}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id">
					<div class="wrap">
						<label>餐厅名称</label>
						<input type="text" id="restaurant_name" readonly>
					</div>
					<div class="wrap">
						<label>菜品</label>
						<div id="div"></div>
					</div>
				</form>
			</div>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/layui/layui.js" type="text/javascript"></script>
		<script type="text/javascript">
			//添加
			$('#dialog').on('click', function(){
				$('.model').show();
			})
			$('.close').on('click', function(){
				$('.model').hide();
			})
			//修改
			$('.img_edit').on('click', function(){
				$('.model_edit').show();
			})
			$('.close_edit').on('click', function(){
				$('.model_edit').hide();
			})
			//菜品回显
			$('.food_sort').on('click', function(){
				$('.food_sort_up').show();
			})
			$('.food_sort_up_edit').on('click', function(){
				$('.food_sort_up').hide();
			})
			$('.img_edit').click(function(){
				let val = $(this).parents('tr').find('td').eq(0).text();
				console.log(val)
				$.ajax({
					url:'/index/Order/restaurant_edit',
					type:'post',
					data:{'id':val},
					success:function(data){
						$('#id').val(data.id)
						$('#name').val(data.name)
						$('#business_hours_start').val(data.business_hours_start)
						$('#business_hours_end').val(data.business_hours_end)
						$('#sort').val(data.sort)
					}
				})
			})
			//菜品回显ajax拿去数
			$('.food_sort').click(function(){
				let val = $(this).parents('tr').find('td').eq(0).text();
				$.ajax({
					url:'/index/Order/restaurant_select',
					data:{'id':val},
					success:function(data){
						console.log(data['md'])
						$('#restaurant_name').val(data['row']['name'])
						let list = data['md'];
						$('#div').empty();
						let html = '';
						for (let i = 0;i<list.length;i++){
							html += `<span style="padding:0 20px">${list[i].name}</span>`;
						}
						$('#div').append(html);
					}

				})
			})
			
			layui.use('laydate', function(){
				let laydate = layui.laydate;
				//时间选择器
				laydate.render({
					elem: '#time1',
					type: 'time',
					format: 'HH:mm',
					value: '00:00'
				});
				laydate.render({
					elem: '#time2',
					type: 'time',
					format: 'HH:mm',
					value: '00:00'
				});
				laydate.render({
					elem: '#business_hours_start',
					type: 'time',
					format: 'HH:mm'
				});
				laydate.render({
					elem: '#business_hours_end',
					type: 'time',
					format: 'HH:mm'
				});
			})
			
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>