<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>首页导航</title>
		<link href="/images/index.css" type="text/css" rel="stylesheet"/>
		<script src="/images/jquery.js"></script>
		<link rel="stylesheet" href="/images/css.css">
		<link rel="stylesheet" href="/images/boot.css">
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
		<style type="text/css">
			.layui-table th{text-align: center;font-weight: bold;}
			.layui-table td{text-align: center;}
			#upload-add,#upload-edit{height: 30px;line-height: 30px;padding: 0 10px;margin-left: 10px;}
			a:visited{
				color: #fff;
			}
		</style>
	</head>
	<body>
		<div class="note">
			<h4><a href="#" style="background:#75bdb6;padding:5px;border:none;color:#fff" id="dialog">添加导航</a></h4>
			<table class="news_list layui-table" style="width: 96%;margin: 12px auto;">
				<thead>
					<tr>
						<th>ID</th>
						<th>排序</th>
						<th>一级标题</th>
						<th>二级标题</th>
						<th>图标</th>
						<th>链接</th>
						<th>状态</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name='row' id='r'}
					<tr>
						<td>{$r.id}</td>
						<td>{$r.sort}</td>
						<td>{$r.one_name}</td>
						<td>{$r.two_name}</td>
						<td><img style="width:60px;height:60px" src="{$r['img']}" alt=""></td>
						<td>{$r.url}</td>
						<td><?php if($r['state']==0){echo "<span style='color:#00FF6F'>正常</span>";}else{echo "<span style='color:red'>禁用</span>";} ?></td>
						<td>{$r.start_time|date="Y-m-d H:i:s",###}</td>
						<td style="width:400px">
							<a href="#" class="layui-btn layui-btn-sm img_edit">修改</a>
							<a href="{:url('navigation_state','id='.$r.id)}" ><?php if($r['state']=='0'){echo "<span class='layui-btn layui-btn-sm layui-btn-normal'>禁用</span>";}else{echo "<span class='layui-btn layui-btn-sm layui-btn-warm'>正常</span>";} ?></a>
							<a href="{:url('navigation_del','id='.$r.id)}" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<!--添加-->
		<div class="model">
			<div class="head">
				<span>添加导航</span>
				<a href="javascript:" class="close">×</a>
			</div>
			<div class="content">
				<form action="{:url('Platform/navigation_add')}" method="post" enctype="multipart/form-data">
					<div class="wrap">
						<label>一级标题</label>
						<input type="text" name="one_name" value=""/>
					</div>
					<div class="wrap">
						<label>二级标题</label>
						<input type="text" name="two_name" value=""/>
					</div>
					<div class="wrap">
						<label>排序</label>
						<input type="text" name="sort" value="5"/>
					</div>
					<div class="wrap">
						<label>图标</label>
						<input type="text" name="" id="add_img_name" value="" />
						<button type="button" class="layui-btn" id="upload-add">
							<i class="layui-icon">&#xe67c;</i>点击上传
						</button>
						<input type="file" name="img" id="add_icon" value="" style="display: none;"/>
					</div>
					<div class="wrap">
						<label>链接</label>
						<input type="text" name="url" value="5"/>
					</div>
					<div class="wrap">
						<label>状态</label>
						<input type="radio" name="state" value="0" checked/>正常
						<input type="radio" name="state" value="1">禁用
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<!--修改-->
		<div class="model_edit">
			<div class="head">
				<span>修改导航</span>
				<a href="javascript:" class="close_edit">×</a>
			</div>
			<div class="content">
				<form action="{:url('Platform/navigation_update')}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id" id="id">
					<div class="wrap">
						<label>一级标题</label>
						<input type="text" id="one_name" name="one_name" value=""/>
					</div>
					<div class="wrap">
						<label>二级标题</label>
						<input type="text" id="two_name" name="two_name" value=""/>
					</div>
					<div class="wrap">
						<label>排序</label>
						<input type="text" id="sort" name="sort" value="5"/>
					</div>
					<div class="wrap">
						<label>图标</label>
						<img style="width:60px;hegith:60px" src=""  id="img" alt="">
						<input type="text" name="" id="edit_img_name" style="display: none;" />
						<button type="button" class="layui-btn" id="upload-edit">
							<i class="layui-icon">&#xe67c;</i>点击上传
						</button>
						<input type="file" name="img" id="edit_icon" value="" style="display: none;"/>
					</div>
					<div class="wrap">
						<label>链接</label>
						<input type="text" id="url" name="url" value="5"/>
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<script>
			//添加
			$('#dialog').on('click', function(){
				$('.model').show();
			})
			$('.close').on('click', function(){
				$('.model').hide();
			})
			//修改
			$('.img_edit').on('click', function(){
				$('.model_edit').show();
			})
			$('.close_edit').on('click', function(){
				$('.model_edit').hide();
			})
			$('.img_edit').click(function(){
				let val = $(this).parents('tr').find('td').eq(0).text();
				$.ajax({
					url:'/index/Platform/navigation_edit',
					type:'post',
					data:{'id':val},
					success:function(data){
						console.log(data)
						$('#id').val(data.id);
						$('#one_name').val(data.one_name);
						$('#two_name').val(data.two_name);
						$('#sort').val(data.sort);
						$('#url').val(data.url);
						$('#img').attr('src',data.img);
					}
				})
			})
			
			// 添加图片-上传
			$('#upload-add').click(function(){
				$('#add_icon').click();
			})
			$('#add_icon').on('change',function(){
				let name = this.files[0].name;
				$('#add_img_name').val(name);
			})
			
			// 添加图片-上传
			$('#upload-edit').click(function(){
				$('#edit_icon').click();
				$('#img').hide();
				$('#edit_img_name').show();
			})
			$('#edit_icon').on('change',function(){
				let name = this.files[0].name;
				$('#edit_img_name').val(name);
			})
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>